[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pbr = "*"

[packages]
connectordb = "*"
pyyaml = "==4.2b2"
configloader = "*"

[requires]
python_version = "3.5"
